.home-all {
  margin-top: 143px;
  margin-bottom: 436px;
}
.homeh3 {
  font-weight: 500;
  font-size: 12px;
  font-family: "Montserrat";
  text-align: center;
  color: rgba(47, 79, 255, 1);
}
.homeh2 {
  font-weight: 900;
  font-size: 55px;
  font-family: "Montserrat";
  text-align: center;
  line-height: 66px;
  color: rgba(0, 0, 0, 1);
}
.homep {
  font-weight: 400;
  font-size: 16px;
  font-family: "Montserrat";
  text-align: center;
  line-height: 27px;
  color: rgba(0, 0, 0, 0.63);
  padding-top: 23px;
}
.form-cont {
  display: flex;
  /* justify-content: center; */
  
  /* margin-top: 44px;
  margin-bottom: 436px; */
  width: 472px;
  /* border: 1px solid; */
  margin: 44px  auto 436px;
  padding: 7px;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.05);
}
.form-cont input {
width: 316px;
  height: 50px;
  font-size: 13px;
  font-weight: 400;
  color: rgba(111, 111, 111, 1);
  padding-left: 28px;
  border-radius: 6px;
  border: none;
  outline: none;
}
.form-cont button {
  background-image: linear-gradient(rgba(47, 79, 255, 1), rgba(0, 133, 255, 1));
  font-weight: 500;
  font-size: 14px;
  font-family: "Montserrat";
  border: none;
  border-radius: 7px;
  width: 148px;
  height: 50px;
  color: rgba(251, 251, 255, 1);
  cursor: pointer;
}
.heroimg {
  position: absolute;
  bottom: -435px;
}
.heroimg-cont {
  position: relative;
  display: flex;
  justify-content: center;
}
.minitext-cont{
    display: flex;
    gap: 80px;
}
.text-cont h2{
    font-size: 13px;
    font-weight: 500;
    font-family: "Montserrat";
    color: rgba(47, 79, 255, 1);
    padding-bottom: 13px;
}
.text-cont h3{
    font-size: 34px;
    font-weight: 700;
    font-family: "Montserrat";
    color: rgba(0, 0, 0, 1);
    line-height: 44px;
}
.text-cont p{
    font-size: 16px;
    font-weight: 400;
    font-family: "Montserrat";
    line-height: 27px;
    color: rgba(0, 0, 0, 0.63);

}
.text-cont{
    padding: 230px 220px;
}
.cardbox{
    display: flex;
    gap: 77px;
}
.heading h3{
  font-size: 13px;
  font-weight: 500;
  color: rgba(47, 79, 255, 1);
  font-family: "Montserrat";
}
.heading h4{
  font-size: 34px;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
  font-family: "Montserrat";
}
.heading{
  margin-left: 200px;
  margin-top: 80px;
}
@media screen and (max-width: 769px) {
  .heroimg{
    display: none;
  }
  .cardbox{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.minitext-cont{
  display: block;
}

.home-all {
  margin-top: 143px;
  margin-bottom: 143px;
}
.form-cont {
  display: flex;
  /* justify-content: center; */
  
  /* margin-top: 44px;
  margin-bottom: 436px; */
  width: 472px;
  /* border: 1px solid; */
  margin: 44px  auto 136px;
  padding: 7px;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.05);
}
  
}
